*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/appium-maven-plugin-test/target/
/appium-maven-plugin-example/target/
/appium-maven-plugin/target/
/appium-maven-plugin/src/it/basic/target/
/appium-maven-plugin-example/appium-maven-plugin-example.iml
/appium-maven-plugin/appium-maven-plugin.iml
/appium-maven-plugin-parent.iml
/.idea
/appium-maven-plugin-example/gen
/appium-maven-plugin-example/.idea
/appium-maven-plugin/src/test/it/basic/target/